@media (max-width: 992px) {

    .hero h1 {
        font-size: 2.8rem;
    }

    .section-title {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;

        gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;

        justify-content: center;

        gap: 15px;
    }

    .hero {
        min-height: 75vh;
    }

    .hero h1 {
        font-size: 2.3rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero-buttons {
        display: flex;

        flex-direction: column;

        gap: 15px;
    }

    .secondary-btn {
        margin-left: 0;
    }

    .section {
        padding: 60px 5%;
    }

    .stats {
        padding: 60px 5%;
    }
}

@media (max-width: 480px) {

    .hero h1 {
        font-size: 1.9rem;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .card {
        padding: 25px;
    }

    .btn {
        width: 100%;
    }
}
@media (max-width: 768px) {

    .chatbot-container {

        width: 90%;

        right: 5%;

        bottom: 100px;
    }

}